@import './styles/NavigationBar.scss';
@import './styles/ProductPage.scss';
@import './styles/CartPage.scss';
@import './styles/CategoryPage.scss';

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding:0;


}

body{

    background: #FFFFFF;
    margin-left: 0;
    

    
}

